<body class="page-wrapper">
    @*<div class="middle-box text-center animated fadeInDown">*@
    <h1>404</h1>
    <h3 class="font-bold">Página no encontrada</h3>
    <div class="error-desc">
        ¡Lo Sentimos!, La pagina no se encuentra disponible, verifica la dirección.
        <br /><a href="../Home/Index" class="btn btn-primary m-t">Inicio</a>
    </div>
    @*</div>*@

</body>
