
<body class="page-wrapper">
    @*<div class="middle-box text-center animated fadeInDown">*@
    <h1>500</h1>
    <h3 class="font-bold">Internal Server Error</h3>
    <div class="error-desc">
        ¡Lo Sentimos!, Ha ocurrido un error interno en el servidor, solicitamos intentarlo nuevamente.
        <br /><a href="../Home/Index" class="btn btn-primary m-t">Inicio</a>
    </div>
    @*</div>*@

</body>
